.basket-card {
    width: 100%;
    float: left;
    padding: 14px;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-bottom: 12px;
    position: relative;
}
.basket-card__image {
    width: 60px;
    float: left;
}

.basket-card__content {
    width: 80%;
    float: left;
}

.basket-card__description {
    width: 60%;
    float: left;
    padding-left: 22px;
    margin-bottom: 12px;
    text-transform: capitalize;
}

.basket-card__remove {
    width: 11px;
    height: 11px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.checkout-wrapper {
    width: 100%;
    float: left;
    display: flex;
    justify-content: center;
}

.checkout {
    width: 600px;
    padding: 12px 14px;
    border-radius: 6px;
    background-color: #8e44ad;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.checkout__text {
    color: #fff;
}

.checkout__total {
    position: absolute;
    top: 6px;
    right: 10px;
    padding: 6px 10px;
    background-color: #9b59b6;
    color: #fff;
    border-radius: 6px;
}